[webservers]
{% for server in web_servers %}
{{server.name}} ansible_host={{server.external_ip_address}} fqdn={{server.network_interface[0].fqdn}}
{% endfor %}

[databases]
{% for db in databases %}
{{db.name}} ansible_host={{db.external_ip_address}} fqdn={{db.network_interface[0].fqdn}}
{% endfor %}

[storage]
{{storage.name}} ansible_host={{storage.external_ip_address}} fqdn={{storage.network_interface[0].fqdn}}